# Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.dbmdl
*.pidb
*.scc

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.log
*.obj
*.pch
*.res
*.aps
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.sbr
*.bsc
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState

# NuGet packages
packages/
!packages/build/ # Keep build folder for MSBuild targets
!packages/repositories.config # Uncomment if necessary, generally regenerated

# ReSharper files
_ReSharper*/
*.ReSharper

# NCrunch files
*.ncrunch*
*.crunch*.local.xml

# TeamCity files
_TeamCity*

# DotCover files
*.dotCover

# InstallShield output
[Ee]xpress/

# ClickOnce deployment
publish/

# Windows Store app packages
AppPackages/

# Other temporary files
*~
~$*
*.bak
*.old
*.restore
*.backup
*.cache